/* ================================= 
  Base Element Styles
==================================== */

* {
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans', sans-serif;
	line-height: 1.6;
	background: #fafafa;
	color: #4a4a4a;
}

.main-nav {
	margin-bottom: 20px;
}

.name a,
.main-nav a {
	display: block;
	text-align: center;
	padding: 10px 15px;
	text-decoration: none;
	color: #4a4a4a;
}

.main-nav li {
	background: white;
	margin-bottom: 5px;
}

.main-nav a {
	text-transform: uppercase;
	font-weight: bold;
}

.container {
	width: 90%;
	margin: 0 auto;
}

@media (min-width: 769px) {
	.container {
		width: 100%;
		max-width: 1150px;
	}

	.name {
		float: left;
	}

	.main-nav {
		float: right;
		margin-bottom: 0;
		margin-top: 30px;
	}

	.main-nav li {
		display: inline-block;
		background: #fafafa;
	}

	.content-image {
		width: 30%;
	}
}

/* ---- Float clearfix ---- */

.clearfix::after {
	content: " ";
	display: table;
	clear: both;
}
